/* -----------------------------Common style ----------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
section {
  margin-bottom: 80px;
}
.orange-color {
  color: #ffad5a;
}
.orangered-color {
  color: #ff5959;
}
p {
  text-align: justify;
  font-size: 18px;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
}
.center {
  text-align: center;
}

.btn {
  display: inline-block;
  color: white;
  background-color: #ff5959;
  text-decoration: none;
  padding: 12px 38px;
  border-radius: 5px;
  cursor: pointer;
}
/* ---------------------------Stay Focused-------------------------------- */
#stay-focused {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
#stay-focused-left {
  width: 50%;
}

#profile-pic {
  width: 40%;
}

#profile-pic img {
  width: 80%;
  margin-left: 5%;
}
#stay-focused-heading-style {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: -60px;
}
#stay-focused-left-border {
  width: 5px;
  height: 135px;
  border-radius: 5px;
  background-color: orangered;
}

#stay-focused h1 {
  font-family: "Yeseva One", cursive !important;
  font-weight: normal;
  padding-left: 10px;
  line-height: 90px;
}

/*------------------------------------ Mission -------------------------------*/
#section-mission22 {
  width: 80%;
  margin: 0 auto;
}

#mission-vision-goals {
  display: flex;
  justify-content: space-between;
}
.card-padding {
  padding: 30px;
}
#mission-card-color {
  background-color: rgba(79, 157, 166, 0.1);
}
#vission-card-color {
  background-color: rgba(255, 89, 89, 0.1);
}
#goals-card-color {
  background-color: #fff4d6;
}
.card {
  width: 32%;
  border-radius: 26px;
}

.card img {
  width: 50%;
}

/* --------------------------------- Two Column Section------------------- */
.bg-img {
  background-image: url("../images/shapes/shape-1.png");
  background-repeat: no-repeat;
  background-size: 18%;
}
#develop-skill-bg-img-position {
  background-position-x: 40px;
  background-position-y: 30px;
}
#graphics-design-bg-img-position {
  background-position-x: 1010px;
  background-position-y: 200px;
}
.two-column {
  display: flex;
  width: 80%;
  height: 450px;
  margin: 0 auto;
  justify-content: space-between;
}
.text-section {
  width: 55%;
}
.image-section {
  width: 35%;
}
.image-section img {
  width: 100%;
}
/* ------------------------------------Extra Part------------------------- */
#contact-me {
  width: 80%;
  margin: 0 auto;
  box-shadow:0px 0px 5px 1px orange;
  padding-top: 10px;
  border-radius: 15px;
  /* background-color: paleturquoise; */
}
form{
  width: 80%;
  margin: 50px auto;
  padding-bottom: 60px;
  
}
label{
  display: block;
}
.field-style{
  font-family: "Poppins" , sans-serif;
  display: block;
  width: 90%;
  height: 50px;
  border: none; 
  padding-left: 5%;
  padding-right: 5%;
  box-shadow: 1px 1px 5px gainsboro;
  border-radius: 5px;
  margin-bottom: 5px;
}
textarea{
  max-width: 100%;
  min-height: 190px;
  padding-top: 5%;
  padding-bottom: 5%;
}
#form-two-col {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
#form-width{
  width: 48%;
}
#submit{
  border: none;
  background-color: orange;
}
#submit:hover{
  /* border: 1px solid #ff5959; */
  outline: 2px solid orange;
  background-color: white;
  color: orange;
}
/* ------------------------------------Footer----------------------------- */
footer {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 50px;
}
footer h3 {
  font-family: "Lobster", cursive !important;
}

footer p {
  font-family: "Manrope", sans-serif !important;
  font-size: 14px !important;
}
